<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>PROCEED Project</title>
	<atom:link href="https://proceed.snet.tu-berlin.de/feed/" rel="self" type="application/rss+xml" />
	<link>https://proceed.snet.tu-berlin.de</link>
	<description>Process engine in a distributed environment</description>
	<lastBuildDate>Mon, 21 Jan 2019 16:57:25 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.6.4</generator>

<image>
	<url>https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2018/09/cropped-logo-e1539938626993-1-32x32.png</url>
	<title>PROCEED Project</title>
	<link>https://proceed.snet.tu-berlin.de</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>First Prototype</title>
		<link>https://proceed.snet.tu-berlin.de/2018/09/01/first-prototype/</link>
		
		<dc:creator><![CDATA[kai]]></dc:creator>
		<pubDate>Sat, 01 Sep 2018 14:53:10 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://proceed.snet.tu-berlin.de/?p=163</guid>

					<description><![CDATA[Over the last summer term, five students worked diligently to create the first working prototype of the PROCEED project as part of a seminar. The goal was to create a lightweight distributed process engine that should be installed on some <a class="more-link" href="https://proceed.snet.tu-berlin.de/2018/09/01/first-prototype/">Read More ...</a>]]></description>
										<content:encoded><![CDATA[<p>Over the last summer term, five students worked diligently to create the first working prototype of the PROCEED project as part of a seminar. The goal was to create a lightweight distributed process engine that should be installed on some small IoT devices.<span id="more-163"></span>In the end the students successfully achieved to run the following motion detection <a href="http://docs.snet.tu-berlin.de/proceed/project/use_cases/">use case</a>:</p>


<figure class="wp-block-image"><img loading="lazy" width="1024" height="418" src="https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/Gate1-Smart_Home_Motion_Sensor_with_Devices-1024x418.png" alt="" class="wp-image-235" srcset="https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/Gate1-Smart_Home_Motion_Sensor_with_Devices-1024x418.png 1024w, https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/Gate1-Smart_Home_Motion_Sensor_with_Devices-300x122.png 300w, https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/Gate1-Smart_Home_Motion_Sensor_with_Devices-768x313.png 768w, https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/Gate1-Smart_Home_Motion_Sensor_with_Devices.png 1289w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>The first process step waits for a motion detection. If this happens a picture of the trigger is taken, sent to a display where the process participant have to choose if she recognizes the trigger. Depending on the decision a green or red light is turned on.</p>



<p>Below the BPMN process you can find the list of devices and systems where each process step runs. The motion detection, the photo and the lights are executed on multiple Raspberry Pis. Since the third step needs a display to show the image and interact with a user it needs a system with some kind of haptic input method and a display. The decision was made to run this step on an Android phone to include mobile devices into the prototype. The following exclusive gateway runs on a usual Windows, Linux or Mac PC.</p>



<p>During the project we set up a continuous integration and deployment infrastructure to get immediate feedback and demonstrate the running system:</p>



<figure class="wp-block-image"><img loading="lazy" width="1024" height="537" src="https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/IMG_20180928_193925_cropped-1024x537.jpg" alt="" class="wp-image-245" srcset="https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/IMG_20180928_193925_cropped-1024x537.jpg 1024w, https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/IMG_20180928_193925_cropped-300x157.jpg 300w, https://proceed.snet.tu-berlin.de/wp-content/uploads/sites/15/2019/01/IMG_20180928_193925_cropped-768x403.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>The project achieved some great results and a first prototype of the envisioned process engine for PROCEED. As part of the <a href="http://docs.snet.tu-berlin.de/proceed/project/roadmap/#goals-roadmap">first stage</a> of the project it lays some important foundations for the upcoming phases, where we&#8217;ll refine the architecture and implement additional features.</p>



<p> </p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Hello World &#8211; the PROCEED project start</title>
		<link>https://proceed.snet.tu-berlin.de/2018/04/01/hello-world/</link>
		
		<dc:creator><![CDATA[kai]]></dc:creator>
		<pubDate>Sun, 01 Apr 2018 18:05:25 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://proceed.curcuma-project.net/?p=1</guid>

					<description><![CDATA[Welcome to PROCEED! this is the new website of the PROCEED project. Here you&#8217;ll find regular updates about our progress and some insights on interesting topics. Additionally we&#8217;ll publish a documentation site where you can find information about the software, <a class="more-link" href="https://proceed.snet.tu-berlin.de/2018/04/01/hello-world/">Read More ...</a>]]></description>
										<content:encoded><![CDATA[<h1><span style="font-size: 16pt;"><strong>Welcome to PROCEED!</strong></span></h1>
<p>this is the new website of the PROCEED project. Here you&#8217;ll find regular updates about our progress and some insights on interesting topics. Additionally we&#8217;ll publish a <a href="http://docs.snet.tu-berlin.de/proceed/" target="_blank" rel="noopener">documentation site</a> where you can find information about the software, the architecture, the project management and the backgrounds.<span id="more-1"></span> But first, let&#8217;s start with a short introduction of the project and its goals:</p>
<p>PROCEED is a project funded by the German government within the Software Campus initiative. This format allows a researcher to realize his project idea and be supported with some management training and some financial means to buy some hardware or hire some research assistants. Also part of this initiative is the cooperation with an industry partner &#8211; in this project it is the well-known <a href="https://www.scheer-group.com/">Scheer GmbH</a>.</p>
<p>The main trigger for this project came from the recent shift to more and more distributed systems in the software architecture world, e.g. with blockchains, big data processing or edge computing. We saw the need for also decentralizing process engines instead of having a centralized BPMS. This can help to include the ever increasing amount of ubiquitous IoT devices into some kind of business process. Other interesting goals are the realization of processes that are context-aware and transportable. The former should examine how to use surrounding devices to create more individual processes, whereas the latter considers that there are sometimes constraints for some critical systems to work offline. Over time you will find more about the goals on this page: <a href="http://docs.snet.tu-berlin.de/proceed/basics/goals/">http://docs.snet.tu-berlin.de/proceed/basics/goals/ </a></p>
<p>I&#8217;m personally very excited about the process of the project and hope you will follow our progress.</p>
<p>Thank you for reading!<br />
Kai Grunert</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
