<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: About	</title>
	<atom:link href="https://proceed.snet.tu-berlin.de/sample-page/feed/" rel="self" type="application/rss+xml" />
	<link>https://proceed.snet.tu-berlin.de</link>
	<description>Process engine in a distributed environment</description>
	<lastBuildDate>Tue, 26 Jan 2021 09:01:41 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.6.4</generator>
</channel>
</rss>
