/*
 Theme Name:   Proceed
 Theme URI:    
 Description:  Catch Base Child Theme For Proceed
 Author:       Kai Rohwer
 Author URI:   
 Template:     catch-base
 Version:      1.0.0
 Text Domain:  
*/

/* Different Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
	font-family: 'Open Sans';
	letter-spacing: 0.3px;
}

/* Site Header */
.site {
	margin: 0 0 0 0;
	width: 100%;
	border-radius: initial;
    -moz-border-radius: initial;
    -webkit-border-radius: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

#content {
	background-color: white;
	box-shadow: 0px 0px 15px -5px #2b2b2b;
	position: relative;
}

#site-branding {
	padding-left: 15px;
	margin-left: 180px;
	transition: margin-left 0.2s ease-in-out;
}

.site-description {
	font-size: 15px;
}

.site-title a:focus {
	text-decoration: none;
}

.nav-primary {
	font-size: 17px;
	border-bottom: none;
	background-color: white;
}

.sidebar-header-right {
	display: none;
}

#search-container {
	bottom: -59px;
	transition: bottom 0.2s ease-in-out;
}

#proceed_logo {
    width: 180px;
    transition: width 0.2s ease-in-out, margin-left 0.2s ease-in-out;
    position: absolute;
    margin-left: -190px;
}

.proceed_logo_element {
	fill: #0d8090;
	transition: fill 0.4s;
}

#proceed_header_wrapper {
	position: fixed;
    width: 100%;
    background-color: #fffffff7;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0px 0px 10px -2px #b5b5b5;
}

body.admin-bar #proceed_header_wrapper {
	margin-top: 32px;
}

.site-title, #masthead, .site-description, .site-title, .nav-primary {
	transition: font-size 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.mobile-menu-anchor {
    position: absolute;
    left: 10px;
}

@media screen and (min-width: 991px) {
	#proceed_header_wrapper.small .site-title {
		font-size: 20px;
	}
	
	#proceed_header_wrapper.small #masthead {
		padding: 0;
	}
	
	#proceed_header_wrapper.small .site-description {
		font-size: 11px;
	}
	
	#proceed_header_wrapper.small .nav-primary {
		font-size: 14px;
	}
	
	#proceed_header_wrapper.small #search-container {
		bottom: -55px;
	}
	
	#proceed_header_wrapper.small #site-branding {
		margin-left: 90px;
	}
	
	#proceed_header_wrapper.small #proceed_logo {
		width: 90px;
		margin-left: -90px;
	}
	
	#proceed_header_wrapper.small .proceed_logo_element {
	    fill: #b7b7b7;
	}
}

/* Featured image size */
#header-featured-image {
	height: 500px;
	overflow: hidden;
	background-size: cover;
}

#header-featured-image.tile {
	background-size: inherit;
	background-repeat: repeat;
}

#main {
	float: none;
}

#content > .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Site content */
.entry-container {
    letter-spacing: 0.5px;
    line-height: 1.7em;
}

/* No news content */
#post-165 .entry-container {
	display: none;
}

#post-165 header {
	margin-bottom: 45px;
}

.news {
	margin-top: 20px;
}

.news > div {
	margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.news .date {
	color: #afafaf;
    font-size: 0.8em;
}

.news .link {
	font-size: 1.2em;
}

.news .excerpt {
	margin-top: 5px;
}

/* Team Photos */
#post-19 img {
    box-shadow: 0px 2px 15px -4px #545454;
    border-radius: 8px;
}

/* Smaller footer */
#site-generator {
	font-size: 11px;
}

/*** Timeline ***/
ul.timeline {
	position: relative;
	margin-left: 30px;
}

/* Line */
ul.timeline:before {
	content: '';
  height: 100%;
  background-color: #cecece;
	position: absolute;
  width: 2px;
  display: block;
	margin-left: -15px;
	transform: translateY(-5px);
	bottom: 5px;
}

ul.timeline > li {
	list-style-type: none;
	margin-bottom: 15px;
}

/* Bullet point */
ul.timeline > li:before {
	content: '';
  height: 16px;
  background-color: #268e9e;
  border: 3px solid #0000002e;
  position: absolute;
  width: 16px;
  display: block;
	margin-left: -22px;
	margin-top: 8px;
	border-radius: 100%;
	transform: translateY(-5px);
}

/* Footer logos */
footer .partners {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #dadada;
    width: 820px;
    margin: 0 auto;
    flex-wrap: wrap;
}

footer .partners .logo {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

footer .partners .logo a {
	font-size: 0;
}

footer .partners .logo img {
	max-width: 95px;
	filter: grayscale(100%);
	transition: filter 0.2s;
}

footer .partners .logo img:hover {
	filter: none;
}

footer .partners .separator, footer .partners .lb {
	width: 1px;
	background-color: #ececec;
}

.blog_entries h3 {
	margin-bottom: 5px;
}

.blog_entries .rss-feed {
	margin-bottom: 25px;
	display: block;
}

.blog_entries ul > li {
	display: inline-block;
	margin-bottom: 15px;
}

.blog_entries .date {
	color: #afafaf;
    font-size: 0.8em;
}

.blog_entries .link {
	font-size: 1.2em;
}

.blog_entries .excerpt {
	margin-top: 5px;
}

/* Responsive */
@media screen and (max-width: 1152px) {
	#header-featured-image {
		height: 400px;
	}
	#proceed_logo {
		width: 140px;
		margin-left: -140px;
	}
	#site-branding {
		margin-left: 140px;
	}
	footer .partners .logo {
		padding: 15px 0;
	}
}

@media screen and (max-width: 990px) {
	.mobile-menu-one #site-branding {
		padding: initial;
		width: 100%;
	}
	.site-description {
		font-size: 13px;
	}
    #header-featured-image {
		height: 250px;
	}
	#proceed_logo {
		width: 120px;
		margin-left: -150px;
	}
	#site-branding {
	    margin-left: 0;
	}
	footer .partners {
		margin: 0;
		width: 100%;
		padding: 10px 0;
	}
	footer .partners .logo {
		padding: 10px 0;
	}
	footer .partners .lb {
		background-color: inherit;
		height: 30px;
		width: 100%;
		display: block;
	}
	#content > .wrapper {
		flex-direction: column;
	}
	#content .widget-area {
		border-top: 1px solid #eee;
		margin-top: 30px;
	}
	.blog_entries ul > li {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 700px) {
	#proceed_logo {
		width: 50px;
		margin-left: -56px;
		margin-top: 7px;
	}
	#custom_html-3.widget {
		padding: 0px;
	}
}

@media screen and (max-width: 600px) {
	#header-featured-image {
		height: 200px;
	}
	.site-description {
		font-size: 12px;
	}
	#proceed_logo {
		width: 45px;
		margin-left: -50px;
		margin-top: 6px;
	}
	footer .partners .logo img {
		max-width: 60px;
	}
	#custom_html-3.widget {
		padding: 0px;
	}
}

@media screen and (max-width: 540px) {
	#header-featured-image {
		height: 180px;
	}
	#proceed_logo {
		width: 40px;
		margin-left: -43px;
		margin-top: 5px;
	}
	
}
